<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEventService" />
                <binding name="NetTcpBinding_IPersonService" />
                <binding name="NetTcpBinding_IEnumsService" />
                <binding name="NetTcpBinding_IContributionService" />
                <binding name="NetTcpBinding_IInfoService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:82/events" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEventService" contract="SynchronicWorldService.IEventService"
                name="NetTcpBinding_IEventService">
                <identity>
                    <servicePrincipalName value="&#xD;&#xA;          " />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:82/persons" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPersonService" contract="SynchronicWorldService.IPersonService"
                name="NetTcpBinding_IPersonService">
                <identity>
                    <servicePrincipalName value="&#xD;&#xA;          " />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:82/enums" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEnumsService" contract="SynchronicWorldService.IEnumsService"
                name="NetTcpBinding_IEnumsService">
                <identity>
                    <servicePrincipalName value="&#xD;&#xA;          " />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:82/contributions" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IContributionService"
                contract="SynchronicWorldService.IContributionService" name="NetTcpBinding_IContributionService">
                <identity>
                    <servicePrincipalName value="&#xD;&#xA;          " />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:82/info" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IInfoService" contract="SynchronicWorldService.IInfoService"
                name="NetTcpBinding_IInfoService">
                <identity>
                    <servicePrincipalName value="&#xD;&#xA;          " />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>